<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>{{ app_name }} {{ app_ver }} | {{ app_description }}</title>

    <!-- Vendor styles -->
    {% block vendor_stylesheets %}
    <link rel="stylesheet" href="{{ base_url('assets/vendor/fontawesome/css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/vendor/animate.css/animate.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/vendor/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/vendor/toastr/toastr.min.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/vendor/bootstrap3-editable/css/bootstrap-editable.css') }}"/>
    {% endblock %}

    <!-- App styles -->
    {% block app_stylesheets %}
    <link rel="stylesheet" href="{{ base_url('assets/styles/pe-icons/pe-icon-7-stroke.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/styles/pe-icons/helper.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/styles/stroke-icons/style.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('assets/styles/style.css') }}">
    {% endblock %}
</head>

<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="mobile-menu">
                    <div class="left-nav-toggle">
                        <a href="#">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                </div>
                <a class="navbar-brand" href="index.html">
                    {{ app_name | upper }}
                    <span>{{ app_ver }}</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="left-nav-toggle">
                    <a href="">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class=" profil-link">
                        <a href="{{ base_url('auth/logout') }}">
                            <span class="profile-address">Wyloguj: {{ us_email }}</span>
                            <img src="{{ base_url('assets/images/profile.jpg') }}" class="img-circle" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End header-->

    <!-- Navigation-->
    <aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                <li class="nav-category" id="dashboard-menu">
                    Pulpit
                </li>
                <li id="dashboard-monitoring-menu">
                    <a href="{{ base_url('dashboard/monitoring') }}">Monitoring</a>
                </li>

                <li class="nav-category">
                    Praca
                </li>
                
                <li id="client-menu">
                    <a href="#client-submenu" data-toggle="collapse" aria-expanded="false">
                        Klienci <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="client-submenu" class="nav nav-second collapse">
                        <li id="client-submenu-all"><a href="{{ base_url('client/all') }}">Lista</a></li>
                        <li id="client-submenu-add"><a href="{{ base_url('client/add') }}">Dodaj</a></li>
                    </ul>
                </li>
                
                <li id="company-menu">
                    <a href="#company-submenu" data-toggle="collapse" aria-expanded="false">
                        Ubezpieczyciele <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="company-submenu" class="nav nav-second collapse">
                        <li id="company-submenu-all"><a href="{{ base_url('company/all') }}">Lista</a></li>
                        <li id="company-submenu-add"><a href="{{ base_url('company/add') }}">Dodaj</a></li>
                    </ul>
                </li>
                
                <li class="nav-category">
                    Ustawienia
                </li>

                <li id="message-menu">
                    <a href="#message-submenu" data-toggle="collapse" aria-expanded="false">
                        Przypomnienia <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="message-submenu" class="nav nav-second collapse">
                        <li id="message-submenu-add-email"><a href="{{ base_url('message/add_email') }}">E-mail</a></li>
                        <li id="message-submenu-add-sms"><a href="{{ base_url('message/add_sms') }}">SMS</a></li>
                    </ul>
                </li>
                <!--
                <li>
                    <a href="#account" data-toggle="collapse" aria-expanded="false">
                        Administrator <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="account" class="nav nav-second collapse">
                        <li><a href="adminPass.html">Zmiana hasła</a></li>
                    </ul>
                </li>
                                
                <li>
                    <a href="#report" data-toggle="collapse" aria-expanded="false">
                        Raporty <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="report" class="nav nav-second collapse">
                        <li><a href="logList.html"> Logi </a></li>
                    </ul>
                </li>
                -->
                <li class="nav-info">
                    <div class="m-b-xs">
                        <span class="c-white">FORMULARZ BŁĘDÓW</span>
                        <p class="help-block text-justify">Jeśli zauważyłeś błąd lub masz pomysł na usprawnienie jakiejś sekcji - napisz mi proszę o tym ;)</p>
                        <form id="bug-create">
                            <textarea class="form-control vertical" rows="5" placeholder="Wiadomość od Użytkownika" name="bug_description"></textarea>
                            <input type="hidden" name="url_name" value="{{ current_url() }}"/>
                            <div class="m-b-xs"></div>
                            <button type="submit" class="btn btn-default btn-block" id="send-bug" data-url="{{ base_url('dashboard/send_bug') }}">Wyślij</button>
                        </form>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="#"><i class="pe pe-7s-call text-accent" data-toggle="tooltip" data-placement="bottom" title="Zadzwoń"></i></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#"><i class="pe pe-7s-mail-open-file text-accent" data-toggle="tooltip" data-placement="bottom" title="Wyślij wiadomość"></i></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#"><i class="pe pe-7s-light text-accent" data-toggle="tooltip" data-placement="bottom" title="Zaproponuj poprawkę"></i></a>
                        </div>
                    </div>
                    -->
                </li>
            </ul>
        </nav>
    </aside>
    <!-- End navigation-->

{% block body %}{% endblock %}

<!-- Vendor scripts -->
{% block vendor_scripts %}
<script src="{{ base_url('assets/vendor/pacejs/pace.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/toastr/toastr.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/sparkline/index.js') }}"></script>
<script src="{{ base_url('assets/vendor/flot/jquery.flot.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/flot/jquery.flot.resize.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/flot/jquery.flot.spline.js') }}"></script>
<script src="{{ base_url('assets/vendor/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ base_url('assets/vendor/jquery-validation/localization/messages_pl.min.js') }}"></script>
{% endblock %}

<!-- App scripts -->
{% block app_scripts %}
<script src="{{ base_url('assets/scripts/luna.js') }}"></script>
{% endblock %}

<script>
    $(document).ready(function () {
        $('#send-bug').click(function(e) {
        e.preventDefault();

        var data = $('#bug-create').serialize();
        var url = $(this).attr('data-url');

        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                if(data.status == 1) {
                    setTimeout(function(){ // Run toastr notification with success message
                        toastr.options = {
                            "positionClass": "toast-top-right",
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing",
                            "timeOut": "6000"
                        };
                        toastr.success('<strong>Sukces! </strong> <br/><small>' + data.msg + '</small>');
                        },500
                    );
                    
                    $('#submit').prop("disabled", true);
                } else {
                    setTimeout(function(){ // Run toastr notification with failture message
                        toastr.options = {
                            "positionClass": "toast-top-right",
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing",
                            "timeOut": "6000"
                        };
                        toastr.warning('<strong>Błąd! </strong> <br/><small>' + data.msg + '</small>');
                        },500
                    )
                }
            },
            error: function(data){      
                alert('error');
            }

        });
    });


    {% block jq_scripts %}
        
    {% endblock %}
    });
</script>

</body>

</html>